.SvgText
{
    text-anchor: middle;
}


.DataRect
{
    fill:yellow;
    stroke-width: 3px;
    stroke:black;
}
.PointerRect
{
    fill:orange;
    stroke-width: 3px;
    stroke:black;
}

.SvgContainer
{
    /* background-color: aliceblue;*/
}

.ValueRect
{
    fill:lightgreen;
    stroke-width: 3px;
    stroke:black;
}
.ValueRect2
{
    fill:lightskyblue;
    stroke-width: 3px;
    stroke:black;
}
.StructureText
{
    text-anchor: middle;
    font-weight: bold;
}



text
{
    text-anchor: middle;
}

.column {
    float: left;
    width: 400px;
    min-width: 400px;
    min-height: 600px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

