* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("canvas.png");
    text-shadow: 2px 2px 4px #000000;
}

header {
    text-align: center;
    font-size: 35px;
    padding: 30px;
    width: 100%;
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    height: 100px;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.mainDiv {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.listContainer{
    text-align: center;
    padding: 20px;
    width: 50%;
}

.MenuButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 100px;
    text-align: center;
    word-break: break-word;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px grey;
}
.MenuButton:hover
{
    background-color: lime;
    box-shadow: 10px 10px 5px grey;
}

.MenuButton2 {
    background-color: orange; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    word-break: break-word;
    font-weight: bold;
    box-shadow: 10px 10px 5px grey;
}
.MenuButton2:hover
{
    background-color: orangered;
    box-shadow: 10px 10px 5px grey;
}

.Header
{
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


