
.column {
    float: left;
    width: 300px;
    min-width: 300px;
    min-height: 600px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

