html, body {
    height: 100%;
    background-image: url("canvas.png");
}

.DataRect
{
    fill:yellow;
    stroke-width: 3px;
    stroke:black;
}
.PointerRect
{
    fill:orange;
    stroke-width: 3px;
    stroke:black;
}

.SvgContainer
{
   /* background-color: aliceblue;*/
}

.HeadRect
{
    fill:limegreen;
    stroke-width: 3px;
    stroke:black;
}

.NullRect
{
    fill:red;
    stroke-width: 3px;
    stroke:black;
}

.StructureText
{
    text-anchor: middle;
    font-weight: bold;
    color: white;
}

text
{
    text-anchor: middle;
}

.column {
    float: left;
    width: 300px;
    min-width: 300px;
    min-height: 600px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.VisualizeButton
{
    margin-left: 10px;
    min-width: 350px;
    background-color: darkgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

.VisualizeButton:hover
{
    background-color: greenyellow; /* Green */
}