.VisualizeButton
{
    margin-left: 10px;
    min-width: 350px;
    background-color: darkgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

.VisualizeButton:hover
{
    background-color: greenyellow; /* Green */
}

.ExampleSelect {
    font-size: 20px;
    overflow:hidden;
    width:150px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: greenyellow url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}